apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: auth-server
  name: auth-server
spec:
  ports:
  - name: 9000-9000
    port: 9000
    protocol: TCP
    targetPort: 9000
  selector:
    app: auth-server
  type: ClusterIP
status:
  loadBalancer: {}
